<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="../static../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon../static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon../static/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="jNwqprOxRxG02KrbgIxc6QJzrWEQDZb6pHoqOBON">

    <title>ChatBot</title>
    <script src="../static/js/app.js"></script>

    <!--     
    <script src="http://127.0.0.1:8000/js/jquery.js"></script>
    <script src="http://127.0.0.1:8000/js/popper.min.js"></script>
    <script src="http://127.0.0.1:8000/js/bootstrap.min.js"></script>
    <script src="http://127.0.0.1:8000/js/jquery-ui.js"></script> -->

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">


    <!-- Stylesheets -->
    <!--   <link href="http://127.0.0.1:8000/css/app.css" rel="stylesheet"> -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/tstyle.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <!-- Responsive -->
    <link href="../static/css/tresponsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class=" bg-fwhite">
    <main style="margin-bottom: 120px;">
        <div class="page-wrapper">
            <!-- Main Header-->
            <header class="main-header header-style-one">

                <!--Header-Upper-->
                <div class="header-upper">
                    <div class="auto-container">
                        <div class="clearfix">
                            <!-- start of Logo -->
                            <div class="pull-left logo-outer">
                                <div class="logo"><a href="https://kidstories.app"><img src="../static/images/logo.png"
                                            alt="" title="" width="80px" height="auto"></a></div>
                            </div>

                            <div class="pull-right upper-right clearfix">
                                <div class="nav-outer clearfix">

                                    <!-- Main Menu -->
                                    <nav class="main-menu navbar-expand-md">
                                        <div class="navbar-header">
                                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                                aria-label="Toggle navigation">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                            <ul class="navigation clearfix">
                                                <li class=""><a href="/">Home</a>
                                                </li>
                                                <li class=""><a href="https://kidstories.app/stories">Browse Stories</a>
                                                </li>
                                                <li><a href="https://kidstories.app/categories">Categories</a></li>
                                                <li><a href="https://kidstories.app/stories/create">Create Story</a>
                                                </li>
                                                <li><a href="https://kidsstories-chatbot.herokuapp.com">ChatBot</a></li>
                                                <li><a href="https://kidstories.app/login">Login</a></li>
                                                <li><a href="https://kidstories.app/register">Register</a></li>
                                            </ul>
                                        </div>

                                    </nav>

                                    <!-- Main Menu End-->
                                    <div class="outer-box">
                                        <!--Search Box-->
                                        <div class="search-box-outer">
                                            <div class="dropdown">
                                                <button class="search-box-btn dropdown-toggle" type="button"
                                                    id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span class="fa fa-search"></span></button>
                                                <ul class="dropdown-menu pull-right search-panel"
                                                    aria-labelledby="dropdownMenu3">
                                                    <li class="panel-outer">
                                                        <div class="form-container">
                                                            <form action="https://kidstories.app/stories" method="GET">
                                                                <input class="searchBox" type="search" minlength="2"
                                                                    name="search" placeholder="Search...">
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--Language-->


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Header Upper-->

            </header>
            <!--End Main Header -->
            <main id="chatbbot">
                <!--            <section class="banner-section-three bg-fwhite">-->

                <div class="sec-title centered">
                    <!--                <h3>KidsStories ChatBot</h3>-->
                    <h3 class="text primary-color bold">KidsStories ChatBot</h3>
                </div>
                <!--            <h1>KidsStories ChatBot</h1>-->
                <!--            <h3>A web implementation of a chatbot for KidsStories using Flask and <a href="https://github.com/gunthercox/ChatterBot"> ChatterBot</a>.</h3>-->
                <div>
                    <div id="chatbox">
                        <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
                    </div>
                    <div id="userInput">
                        <div disabled id="typing" style="display: none">ChatterBot is typing....</div>
                        <input id="textInput" type="text" name="msg" placeholder="Message">
                        <input id="buttonInput" type="submit" value="Send" style="background-color: #007bff">
                    </div>
                    <script>
                        function getBotResponse() {
                            var rawText = $("#textInput").val();
                            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                            $("#typing").show();
                            $("#textInput").val("");
                            $("#chatbox").append(userHtml);
                            document.getElementById('chatbbot').scrollIntoView({
                                block: 'end',
                                behavior: 'smooth'
                            });
                            $.get("/get", {
                                msg: rawText
                            }).done(function (data) {
                                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                                $("#typing").hide();
                                $("#chatbox").append(botHtml);
                                document.getElementById('chatbbot').scrollIntoView({
                                    block: 'end',
                                    behavior: 'smooth'
                                });
                            });
                        }
                        $("#textInput").keypress(function (e) {
                            if (e.which == 13) {
                                getBotResponse();
                            }
                        });
                        $("#buttonInput").click(function () {
                            getBotResponse();
                        })
                    </script>
                </div>

                <!--            </section>-->
            </main>
        </div>
    </main>


    <!-- Footer -->
    <footer class="footer-wrap">
        <div class="footer-box">
            <section>
                <h5>Kid Stories</h5>
                <a href="https://kidstories.app/about">About Us</a>
                <a href="https://kidstories.app/subscribe">Subscriptions</a>
                <!-- <a href="#">Contact Us</a> -->
                <a href="https://kidstories.app/stories/create">Create a Story</a>

            </section>
            <section>
                <h5>Quick Links</h5>
                <a href="https://kidstories.app/stories/create">Create a Story</a>
                <a href="https://kidstories.app/trending-stories">Trending Stories</a>
                <a href="https://kidstories.app/stories">Explore Stories</a>
                <a href="https://paystack.com/pay/kidstoriesapp">Make a donation</a>
            </section>
            <!--         <section>
            <h5>Others</h5>
            <a href="#">User FAQs</a>
            <a href="#">Legal</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
        </section> -->
            <section>
                <h5>Newsletter</h5>
                <p>Subscribe to our newsletter and be the first to get latest updates about new stories from us</p>
                <div class="subscribe">
                    <input type="email" name="" id="subscribe-email" placeholder="Type email">
                    <button class="send-icon"><i class="fa fa-paper-plane"></i></button>
                </div>
            </section>
        </div>
        <hr>
        <div class="footer-info">
            <p class="col-md-10 pull-left">© 2019 Kid Stories. All rights reserved</p>
            <div class="social-iconsb col-md-2 pull-right">
                <!--           <a href="#">  <i class="fa fa-youtube"></i> </a>
 --> <a target="_blank" href="https://instagram.com/mykidstories"> <i class="fab fa-instagram"></i> </a>
                <a target="_blank" href="https://facebook.com/mykidstories"> <i class="fab fa-facebook"></i> </a>
                <a target="_blank" href="https://twitter.com/mykidstories"> <i class="fab fa-twitter"></i> </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
</body>

</html>